<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="/js/bundle.js" defer></script>
</head>

<body class="bg-gray-900">
    <%- include("./components/navbar.ejs") %>

    <div class="content">
        <center>
            <h1>Hello World</h1>
        </center>
    </div>

    <%- include("./components/footer.ejs") %>
</body>

</html>