<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="/js/bundle.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
    <%- include("./components/navbar.ejs") %>
    <%- include("./components/sidebar.ejs") %>

    <div class="content">
        <%- include("./components/content.ejs") %>

    </div>

    <%- include("./components/footer.ejs") %>
</body>

</html>