<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/scroul.css">
</head>

<body class="bg-gray-900">
    <div class="flex min-h-screen">
        <!-- Imagem na maior parte da tela, escondida em telas menores -->
        <div class="hidden lg:flex lg:w-2/3 bg-gradient-to-r from-gray-900 to-blue-700 items-center justify-center">
            <img src="../Img/icodenew-bg.png" alt="Imagem de fundo" class="w-full h-full">
        </div>

        <!-- Parte de login um pouco maior -->
        <div class=" flex flex-col justify-center w-full lg:w-1/2 p-6 lg:p-12 bg-[#1A1A1E]">
            <div class="ml-[10%] w-full max-w-md lg:max-w-lg">
                <!-- Ajustei a largura -->

                <!-- Adicionei a imagem da logo -->
                <div class=" flex  mb-6 mt-6">
                    <img src="../Img/logo-icodenew.png" alt="Logo" class="h-full "> <!-- Logo menor -->
                </div>

                <h2 class=" text-[#E1E1E6] text-3xl font-bold mb-6 ">Cadastre-se</h2>

                <form action="singup.php" method="POST" class="space-y-6">
                    <div>
                        <label for="nome" class="block text-sm font-medium text-gray-300">Nome Completo</label>
                        <input type="text" id="nome" name="nome" placeholder="Seu nome completo"
                            class="block w-10/12 px-4 py-3 mt-2 text-gray-300 bg-[#121214] border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-[#006dff]">
                        <!-- Reduzi a largura -->
                    </div>
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-300">E-mail</label>
                        <input type="email" id="email" name="email" placeholder="Seu e-mail"
                            class="block w-10/12 px-4 py-3 mt-2 text-gray-300 bg-[#121214] border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-[#006dff]">
                        <!-- Reduzi a largura -->
                    </div>

                    <div>
                        <label for="password" class="block text-sm font-medium text-gray-300">Senha</label>
                        <input type="password" id="password" name="senha" placeholder="Deve ter no mínimo 8 caracteres"
                            class="block w-10/12 px-4 py-3 mt-2 text-gray-300 bg-[#121214] border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-[#006dff]">
                        <!-- Reduzi a largura -->
                    </div>
                    <div>
                        <label for="password" class="block text-sm font-medium text-gray-300">Confirme sua senha</label>
                        <input type="password" id="password" name="" placeholder="Deve ter no mínimo 8 caracteres"
                            class="block w-10/12 px-4 py-3 mt-2 text-gray-300 bg-[#121214] border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-[#006dff]">
                        <!-- Reduzi a largura -->
                    </div>



                    <button type="submit" name="submit"
                        class="w-10/12 px-4 py-3  text-[#E1E1E6] bg-[#006dff] hover:bg-blue-500 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500">
                        Criar conta
                    </button> <!-- Reduzi a largura -->

                    <!-- Colocar "Ou se preferir" ao lado do botão GitHub -->
                    <div class=" text-[#E1E1E6] mt-4">
                        <p>Ou se preferir</p>
                        <button
                            class="mt-2 w-10/12 px-4 py-3 bg-[#29292E] text-center items-center justify-center text-[#E1E1E6] flex rounded-md hover:bg-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path
                                    d="M22 12.07A10 10 0 0012 2a10 10 0 00-1.74 19.87c.27.05.37-.12.37-.27v-1.7c-3.34.73-4.04-1.61-4.04-1.61-.5-1.28-1.22-1.62-1.22-1.62-.99-.68.08-.66.08-.66 1.09.08 1.66 1.12 1.66 1.12.98 1.68 2.58 1.2 3.21.92.1-.71.39-1.2.71-1.48-2.66-.3-5.47-1.33-5.47-5.93 0-1.31.47-2.38 1.24-3.22-.13-.3-.54-1.52.12-3.17 0 0 1-.32 3.3 1.23a11.48 11.48 0 016 0c2.28-1.55 3.29-1.23 3.29-1.23.66 1.65.25 2.87.12 3.17.77.84 1.24 1.9 1.24 3.22 0 4.61-2.81 5.63-5.48 5.93.4.35.75 1.03.75 2.08v3.08c0 .15.1.33.38.27A10.02 10.02 0 0022 12.07z" />
                            </svg>
                            Github
                        </button>
                    </div>

                    <!-- Linha fina abaixo do botão do GitHub -->
                    <div class="w-10/12 border-t border-gray-600 my-4 "></div>

                    <!-- Novo botão abaixo da linha -->
                    <button type="button"
                        class="w-10/12 px-4 py-3 text-[#E1E1E6] bg-[#29292E] hover:bg-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-[#006dff] mx-auto">
                        Ja possui uma conta? <br> <a href="/login" class="font-bold text-[#006dff]">Entre no
                            site</a>
                    </button>

                </form>
            </div>
        </div>
    </div>

</body>

</html>