<section
    class="hero-section min-h-screen flex flex-col justify-center items-center text-center bg-gray-800">
    <div class="text-4xl font-light text-white">
        <span
            id="typed"
            class="relative after:content-[''] after:absolute after:h-full after:w-0.5 after:ml-1 after:animate-blink"></span>
    </div>

    <h2 class="text-5xl md:text-7xl font-extrabold mb-4 text-white">
        Seja Bem Vindo a Home Page da ICODENEW
    </h2>
    <p class="text-xl md:text-2xl mb-8 text-white">
        Buscamos renovação no mercado de trabalho na programação
    </p>
    <a
        href="#features"
        class="bg-blue-700 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-full">
        Começar
    </a>
</section>

<section id="sobre-nos" class="py-16 bg-gray-900">
    <div class="wrapper">
        <div class="title">
            <h4 class="text-white">Sobre Nós</h4>
        </div>

        <div class="card_Container">
            <div class="card">
                <div class="imbBx">
                    <img
                        src="./Img/guilhermy-section-bg-black.png"
                        alt="" />
                </div>

                <div class="content">
                    <div class="contentBx">
                        <h3>
                            Guilhermy Rodrigues da Silva<br /><span>Fundador | CEO</span>
                        </h3>
                    </div>
                    <ul class="sci">
                        <li style="--i: 1">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li style="--i: 2">
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li style="--i: 3">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="imbBx">
                    <img
                        src="./Img/guilherme-section-bg-black.png"
                        alt="" />
                </div>

                <div class="content">
                    <div class="contentBx">
                        <h3>
                            Guilherme Lima Leite <br /><span>Fundador | CTO</span>
                        </h3>
                    </div>
                    <ul class="sci">
                        <li style="--i: 1">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li style="--i: 2">
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li style="--i: 3">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="imbBx">
                    <img
                        src="./Img/Ismael-section-bg-black.png"
                        alt="" />
                </div>

                <div class="content">
                    <div class="contentBx">
                        <h3>
                            Ismael Bispo de Souza <br /><span>
                                Co-Fundador | COO</span>
                        </h3>
                    </div>
                    <ul class="sci">
                        <li style="--i: 1">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li style="--i: 2">
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li style="--i: 3">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>