<header>
    <nav class="navbar-bg p-4 flex justify-between items-center fixed top-0 left-0 right-0 z-30 h-16">
        <div class="flex items-center">
            <button id="toggleSidebar" class="text-white focus:outline-none mr-2 relative menu-icon">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </button>
            <img src="./Img/logo-icodenew.png" alt="Logo" class="h-full max-h-full object-contain" />
        </div>
        <div class="flex items-center ml-auto">
            <button
                class="text-white bg-gray-700 hover:bg-gray-800 px-3 py-1 text-sm md:px-4 md:py-2 md:text-base rounded mr-2">
                <a href="./views/login.php">LOGIN</a>
            </button>
            <button
                class="text-white bg-blue-700 hover:bg-blue-900 px-3 py-1 text-sm md:px-4 md:py-2 md:text-base rounded">
                <a href="./views/singup.php">SING UP</a>
            </button>
        </div>
    </nav>
</header>