<div id="sidebarDropdown" class="hidden fixed left-4 top-16 w-48 bg-[#121214] rounded-md shadow-lg z-20 transition-all duration-300 opacity-0 transform -translate-y-2">
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-gray-700 flex items-center">
        <i class="bi bi-house mr-2"></i> Home
    </a>
    <a href="/shop" class="block px-4 py-2 text-sm text-white hover:bg-gray-700 flex items-center">
        <i class="bi bi-cart mr-2"></i> loja
    </a>
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-gray-700 flex items-center">
        <i class="bi bi-calendar-event mr-2"></i> Events
    </a>
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-gray-700 flex items-center">
        <i class="bi bi-chat-dots mr-2"></i> Forum
    </a>
</div>
