<div id="userDropdown"
    class="hidden absolute right-4 top-16 w-48  bg-[#121214] rounded-md shadow-lg z-20 transition-all duration-300 opacity-0 transform -translate-y-2">
    <a href="#" class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-800 flex items-center">
        <i class="bi bi-person mr-2"></i> Perfil
    </a>
    <a href="#" class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-800 flex items-center">
        <i class="bi bi-gear mr-2"></i> Conta
    </a>
    <a href="#" class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-800 flex items-center">
        <i class="bi bi-sliders mr-2"></i> Configurações
    </a>
    <a href="../models/logout.php" class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-800 flex items-center">
        <i class="bi bi-box-arrow-right mr-2"></i> Sair
    </a>
</div>